<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

<!--    <logger name="org.eclipse.jetty" level="WARN"/>-->

<!--    <logger name="org.springframework" level="INFO"/>-->
<!--    <logger name="org.springframework.transaction" level="WARN"/>-->
<!--    <logger name="org.springframework.transaction.support" level="WARN"/>-->
<!--    <logger name="org.springframework.transaction.interceptor" level="WARN"/>-->
<!--    <logger name="org.springframework.web" level="WARN"/>-->
<!--    <logger name="org.springframework.jdbc.core" level="INFO"/>-->
<!--    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="INFO"/>-->

    <logger name="io.roach" level="DEBUG"/>
    <!--  Comment out below to enable SQL trace logging -->
    <logger name="io.roach.sql_trace" level="INFO"/>

    <root level="INFO"/>
</configuration>

