<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}client.log}"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="FILE" />
    </appender>

    <logger name="io.roach" level="DEBUG"/>

    <logger name="io.roach.TX_LOG" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC_FILE"/>
    </logger>

    <root level="INFO"/>
</configuration>

