<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title}"></title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <link href="../static/images/logo_mark_white.png" rel="icon" th:href="@{/images/logo_mark_white.png}" type="image/png"/>
</head>

<body>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
    </symbol>
</svg>

<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
            <use href="#circle-half"></use>
        </svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                    aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#sun-fill"></use>
                </svg>
                Light
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                    aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#moon-stars-fill"></use>
                </svg>
                Dark
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto"
                    aria-pressed="true">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#circle-half"></use>
                </svg>
                Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
    </ul>
</div>


<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="aperture" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="10"/>
        <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
    </symbol>
</svg>

<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand d-md-none" href="#">
            <a href="/"><img class="d-inline-block align-content-center"
                    height="32"
                    src="../static/images/logo_white-32px.png"
                    th:src="@{/images/logo_mark_white.png}"></a>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                aria-controls="#offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="#offcanvas" aria-labelledby="#offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="#offcanvasLabel">Aperture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item"><a class="nav-link" href="#"></a></li>
                    
                    <li class="nav-item">
                        <a class="nav-link disabled" th:switch="${model.viewingGatewayRegion}">
                            <span th:case="true" class="text-info" th:text="${model.viewRegion}"></span>
                            <span th:case="false" class="text-warning" th:text="${model.viewRegion}"></span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                           aria-expanded="false"> Region</a>

                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><h6 class="dropdown-header">Gateway Region</h6></li>
                            <li><a class="dropdown-item disabled" th:href="@{/(region=${model.gatewayRegion})}" th:text="${model.gatewayRegion}"></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><h6 class="dropdown-header">Available Regions</h6></li>

                            <li th:each="region : ${model.regions}">
                                <a th:href="@{/(region=${region.name},limit=${model.limit})}"
                                   th:text="${region.name}"
                                   class="dropdown-item"/>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" th:href="@{/(region='all')}">All</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                           aria-expanded="false">View</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><h6 class="dropdown-header">Show accounts per city</h6></li>
                            <li><a class="dropdown-item" th:href="@{/(region=${model.viewRegion},limit=1)}">1</a></li>
                            <li><a class="dropdown-item" th:href="@{/(region=${model.viewRegion},limit=5)}">5</a></li>
                            <li><a class="dropdown-item" th:href="@{/(region=${model.viewRegion},limit=10)}">10</a></li>
                            <li><a class="dropdown-item" th:href="@{/(region=${model.viewRegion},limit=50)}">50</a></li>
                            <li><a class="dropdown-item" th:href="@{/(region=${model.viewRegion},limit=100)}">100</a></li>
                            <li><a class="dropdown-item" th:href="@{/(region=${model.viewRegion},limit=150)}">150</a></li>
                            <li><a class="dropdown-item" th:href="@{/(region=${model.viewRegion},limit=200)}">200</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                           aria-expanded="false">API</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" th:href="@{/api}">API Root</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><h6 class="dropdown-header">Main transactional resources</h6></li>
                            <li><a class="dropdown-item" th:href="@{/api/account}">Accounts</a></li>
                            <li><a class="dropdown-item" th:href="@{/api/transaction}">Transactions</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><h6 class="dropdown-header">Reporting and metadata resources</h6></li>
                            <li><a class="dropdown-item" th:href="@{/api/config}">Configuration</a></li>
                            <li><a class="dropdown-item" th:href="@{/api/admin}">Admin</a></li>
                            <li><a class="dropdown-item" th:href="@{/api/report}">Reports</a></li>
                            <li><a class="dropdown-item" th:href="@{/actuator}">Actuator Endpoints</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="https://cockroachlabs.cloud">Sign In</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
<!--        th:unless="${model.viewRegion == 'all'}">-->
        <div class="col-md-6 p-lg-5 mx-auto my-5">
            <h1 class="display-3 fw-bold">Roach Bank</h1>
            <h3 class="fw-normal text-muted mb-3">Summary of account totals and turnover</h3>

            <table class="table table-striped table-bordered table-sm table-hover">
                <thead>
                <tr>
                    <th data-toggle="tooltip" scope="col" title="Region city">City</th>
                    <th data-toggle="tooltip" scope="col" title="Number of accounts per city">Accounts</th>
                    <th data-toggle="tooltip" scope="col" title="Number of monetary transactions per city">Transactions</th>
                    <th data-toggle="tooltip" scope="col" title="Number of monetary transaction legs per city">Legs</th>
                    <th data-toggle="tooltip" scope="col" title="Total balance for all accounts per city">Balance</th>
                    <th data-toggle="tooltip" scope="col" title="Total exchange of funds per city">Turnover</th>
                    <th data-toggle="tooltip" scope="col" title="Transaction leg checksum per city">Checksum</th>
                </tr>
                </thead>
                <tbody data-toggle="tooltip" id="report-container" title="Aggregated stats for all accounts">
                </tbody>
            </table>

            <button type="submit" class="btn btn-sm btn-dark" data-toggle="tooltip" data-placement="right" id="refresh-button"
                    title="Refresh account and transaction history"
                    th:data-parameter1="${model.viewRegion}" onclick="refreshReport(this.getAttribute('data-parameter1'))" )>Refresh Now
            </button>

            <span id="notification-badge" class="badge rounded-pill bg-info text-dark"></span>
        </div>

        <div class="product-device shadow-sm d-none d-md-block"></div>
    </div>

    <!-- Main container -->
    <div id="dashboard-container" class="position-relative overflow-hidden p-3 p-md-1 m-md-3 text-center bg-body-secondary">
        <div id="account-spinner" class="text-center">
            <div class="spinner-border" role="status">
            </div>
            <p class="lead">
                Receiving accounts...
            </p>
        </div>
    </div>
</main>

<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">A CockroachDB powered accounting ledger using the double-entry bookkeeping principle</small>
            <small class="d-block mb-3 text-body-secondary">&copy; 2024</small>
        </div>
        <div class="col-6 col-md">
            <h5>Get Started</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://university.cockroachlabs.com/catalog">Online Training</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/install-cockroachdb.html">Install
                    CockroachDB</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/start-a-local-cluster.html">Start
                    a Local Cluster</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/learn-cockroachdb-sql.html">Learn
                    CockroachDB SQL</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/build-an-app-with-cockroachdb.html">Hello,
                    World!</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/demo-fault-tolerance-and-recovery.html">Explore
                    Capabilities</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Develop</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/install-client-drivers.html">Client
                    Drivers</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/connection-parameters.html">Connection
                    Parameters</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/performance-best-practices-overview.html">SQL
                    Best Practices</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/sql-statements.html">SQL
                    Statements</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/data-types.html">SQL Data
                    Types</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/sql-tuning-with-explain.html">SQL
                    Tuning</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Deployment</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/recommended-production-settings.html">Production
                    Checklist</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/topology-patterns.html">Topology
                    Patterns</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/manual-deployment.html">Manual
                    Deployment</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/orchestration.html">Orchestration</a>
                </li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/performance.html">Performance</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/upgrade-cockroach-version.html">Rolling
                    Upgrade</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>FAQs</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/frequently-asked-questions.html">Product FAQs</a>
                </li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/sql-faqs.html">SQL FAQs</a>
                </li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/operational-faqs.html">Operational
                    FAQs</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/operational-faqs.html">Availability
                    FAQs</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/licensing-faqs.html">Licensing
                    FAQs</a></li>
            </ul>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13/jquery-ui.js"></script>
<script src="https://code.jquery.com/color/jquery.color-2.2.0.js"></script>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>

<script src="js/color-modes.js"></script>
<script src="js/dashboard.js"></script>

<script>
    function refreshReport(region) {
        $("#refresh-button").prop("disabled", true);
        $("#refresh-button").html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`);
        $(this).load("/api/report/refresh?region=" + region);
    }
</script>

</body>
</html>
